* {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.imagem-figure {
    height: 100px;
    width: 150px;
    cursor: pointer;
}

.imagem-figure img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s;
}

.imagem-figure img:hover {
    transform: scale(1.05);
}

/*Imagem Maior*/
.imagem-maior {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.imagem-maior img {
    height: 800px;
    width: 1000px;
    border-radius: 10px;
}

.imagem-maior:target {
    display: flex;
}
