*{
    padding: 0;
    margin: 0;
}


    body {
        background: #12122c;
    }
    
    h1{
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
       
    }

    
    div {
        padding: 10px 4px;
        height: 160px;
        width: 650px;
        margin: 2%;
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-items: center;
    }

    
   

    img{
        width: 120px;
        height: 120px;

    }

    #container_a {
        background-color: rgb(7, 118, 118);
        transition: all 1s;
    }
    
    #container_a:hover {
        background-color: aqua;
        border-radius: 15px;
        color: black;
        
    }

#container_b {
    background-color: rgb(17, 116, 21);
    transition: all 1s;
}

#container_b:hover {
    background-color: chartreuse;
    color: black;
    border-radius: 15px;
}

#container_c {
    background-color: rgb(67, 10, 120);
    transition: all 1s;
}

#container_c:hover {
    background-color:blueviolet;
    color: black;
    border-radius: 15px;
}
   
h2 {
    text-align: center;
    font-size: 18px;
    margin-left: 10px;
}


blockquote {
    font-style: italic;
    font-size: 18px;
    text-align: center;
    margin-left: 5px;
   
}
